
// @import '../../node_modules/@material/'
@import "../../node_modules/@material/tab-bar/mdc-tab-bar";
@import "../../node_modules/@material/tab-scroller/mdc-tab-scroller";
@import "../../node_modules/@material/tab-indicator/mdc-tab-indicator";
@import "../../node_modules/@material/tab/mdc-tab";
@import "../../node_modules/@material/image-list";




.mdc-tab-bar{
    @include mdc-tab-bar-density(-3)
}